<p id="notice"><%= notice %></p>

<h2>
  <b>Name:</b>
  <%= @beer_club.name %>, <%= @beer_club.city%>
</h2>


  <p>Founded: <%= @beer_club.founded %></p>


<b>Members</b>
<ul>
  <% @confirmed.each do |member| %>
      <li><%= link_to member.user.username, member %></li>
  <% end %>
</ul>



<b>Applications</b>
<ul>
  <% @unconfirmed.each do |member| %>
      <li><%= link_to member.user.username, member %> <%= link_to "confirm", toggle_confirmation_membership_path(member.id), :method => :post, :class => "btn" %>
      </li>

  <% end %>
</ul>



<%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id%>
    <%= f.hidden_field :user_id %>

    <%= f.submit value="Join this beerclub" %>
<% end %>

<ul>

</ul>

<%= link_to 'Edit', edit_beer_club_path(@beer_club), :class => 'btn btn-primary' %>
<%= link_to 'Destroy', @beer_club, :class => 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>

<%= link_to 'Back', beer_clubs_path, :class => 'btn btn-primary' %>
