<p id="notice"><%= notice %></p>

<p>
  <h2>  <%= @user.username %></h2>

</p>

<p>has given <%= @user.ratings.length %> ratings, average <%= @user.average_rating %></p>
<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if currently_signed_in?(@user)%>
            <%= link_to 'delete', rating, :class=>"btn btn-danger", :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>
<%if @user.ratings.length > 0%>
<p>Favorite brewery: <%=@user.favorite_brewery.name%></p>
<p>Favorite beer style: <%=@user.favorite_style%></p>
<%end%>

<b>belongs to:</b>
<ul>
<% @memberships.each do |ms| %>
   <li> <%=link_to ms.beer_club.name, ms.beer_club %></li>
    <%end%>
  </ul>
<br/>
<b>applications:</b>
<% @applications.each do |ms| %>
    <li> <%=link_to ms.beer_club.name, ms.beer_club %></li>
<%end%>
</ul>

<%= edit_and_destroy_buttons(@user) %>


<%= link_to 'Back', users_path, :class => 'btn btn-primary' %>
