<p id="notice"><%= notice %></p>

<p>
  <b>Desc:</b>
  <%= @style.desc %>
</p>

<p>
  <b>Style:</b>
  <%= @style.style %>
</p>


<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
