<p id="notice"><%= notice %></p>

<p>

  <h2><%= @brewery.name %></h2>
</p>

<p>
  <b>established year
  <%= @brewery.year %>   </b>
</p>
  <p> number of beers: <%= @brewery.beers.length%></p>

  <ul>
  <% @brewery.beers.each do |beer| %>
   <li><%= link_to beer.name, beer %></li>
  <% end %>
</ul>

<%= @brewery.average_rating %>   <br/><br/>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
