<p id="notice"><%= notice %></p>
<%= form_tag places_path do %>
    city <%= text_field_tag :city, params[:city] %>
    <%= submit_tag "Search" %>
<% end %>

<% if @places %>

      <br/>
      <% @places.each do |place| %>
          <%= link_to place.name,"places/"+place.id %>   <br/>
      <% end %>
<% end %>