<h2><%= @place.name %></h2>
<p><%=@place.street %></p>
<p><%=@place.zip %></p>
<iframe height="400" width="600" src=<%=@place.blogmap%></iframe>


<h3>Score: </h3>
Overall: <%= @score["overall"]%>       <br/>
Selection: <%= @score["selection"]%>     </br>
Service: <%= @score["service"]%>       <br/>
Athmosphere: <%= @score["athmosphere"]%> <br/>
Food: <%= @score["food"]%>                  <br/>
Review count: <%= @score["reviewcount"]%>        <br/>
FB Score: <%= @score["fbscore"]%>       <br/>
FBcount: <%= @score["fbcount"]%>   <br/>




